* {
    box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-size: 20px;
    line-height: 28px;
    font-family: helvetica, sans-serif, arial;
}

p {
    margin-bottom: 16px;
}

header h1 {
    font-family: helvetica, sans-serif, arial;
    font-size:  40px;
    font-weight: 500;
    padding: 20px 10px 20px 10px;
} 

header h3 {
    margin-top: 60px;
}

#nav {
    font-family:helvetica, sans-serif, arial;
	width:940px;
	padding:0px;
	text-align:center;
	border-bottom:solid #aaa 2px;
	font-size:30px;
	line-height:25px;
}  

#header {
	width:940px;
	margin-left:auto;
	margin-right:auto;
	margin-top:60px;
	padding:0px 0px 0px;
}

#name {
    padding-bottom:5%;
	font-weight:400;
	color:#aaa;
    margin-left: 39%;
    font-family: helvetica, sans-serif, arial;

}

#header li {
    display: inline;
	margin-right:20px;
}

ul {
    list-style: none;
}

#nav a:hover{
    color: #000
}

header a:hover { 
    color: #000000;
    text-decoration:none;
    
}

header a:link{
    color: #aaa;
    text-decoration:none;
}

header a:visited{
    color:#aaa;
    text-decoration:none;
}


article h1 {
    text-align: center;
    font-family: sans-serif, arial, helvetica;
    color: #000;
    font-size: 30px;
    line-height: 44px;
    margin-top: 14px;
}

article h2 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4px;
}

#stuff {
	width:940px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#content_right {
    overflow: hidden;
	width:20%;
	float:right;
	padding-right: 10px;
}


#content {
    margin-left:50%;
    margin-right:50%;
}

#blog {
    text-align: center;
    padding: 0 0 15px 0;
    font-size: 20px;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 0 10px 0 10px;
}

@media screen (max-width: 600px) {
    
}